{% extends 'dummy.html' %}

{% block title %}
    <title>HomePage</title>
{% endblock %}

{% block body %}
<style>
    form{
        margin-top:100px;
    }
</style>
        <center>
              <form action="" method="post">
                {% csrf_token %}
                    <label for="npw">Enter New Password</label>
                    <input type="password" name="npw" id="npw"><br>
                    <label for="rpw">Enter Agin Password</label>
                    <input type="password" name="rpw" id="rpw"><br>
                    <input type="submit" value="Change">
              </form>
        </center>
{% endblock %}