{% extends 'dummy.html' %}

{% block title %}
    <title>HomePage</title>
{% endblock %}

{% block body %}
<style>
    center{
        margin-top:100px;
    }
</style>
        <center>
            <form  method="post">
                {% csrf_token %}
                <label for="un">Username</label>
                <input type="text" name="un" id="un"><br>
                <label for="npw">Enter New Password</label>
                <input type="password" name="npw" id="npw"><br>
                <!-- <label for="rpw">Enter Again Password</label>
                <input type="password" name="rpw" id="rpw"><br> -->
                <label for="rpw">Enter Agian Password</label>
                <input type="password" name="rpw" id="rpw"><br>
               

                <input type="submit" value="Send OTP" class=" btn btn-dark bg-primary mt-2">

                



                
                
   
           </form>
        </center>
{% endblock %}